* {
    font-family: "Helvetica Neue";
}



body {
  background-color: mintcream;
}
h1 {
  font: 90px Helvetica Neue;
    text-align: center;

}

h2 {
  font: 30px Helvetica Neue;
    text-align: right;
}

h3, p{
    font: 20px Helvetica Neue;
    color: grey;
}

/* ------------------------------------------ */

path {
  stroke: #088408;          //Borders color
  stroke-width: 0.5px;  //Borders width line
  fill: none;
  fill: #4af17f;        //Countries color
}

#tooltip {
  text-align: left;
  padding: 16px;
  background-color: #87ebdf;
  border: 1px solid #fffafe;
  width: auto;
  opacity: 0%;
  color: #323232;
  position: absolute;
}

.country {
    fill: #4af17f;
    stroke: #333333;
    stroke-width: 0.5;
}
.selected {
    fill: yellow;
}
/*
 * Footer
 */
a:link    {color:orangered;  text-decoration:none}
a:visited {color:orangered; text-decoration:none}
a:hover   {color:antiquewhite; text-decoration:underline}
